#lblStatus {
  x: 8;
  y: 100%-4;
  font-size: 20;
  text-length: 20;
}

#boxStats {
  x: 8;
  y: 40;
  width: 33%-8;
  height: 40;
}

#boxStats2 {
  x: 33%+8;
  y: 40;
  width: 33%-8;
  height: 40;
}

#boxStats3 {
  x: 66%+8;
  y: 40;
  width: 33%-8;
  height: 40;
}

.row1 {
  y:60
}

.row2 {
  y:120
}